<div fxLayout="column">
  <mat-card fxFlex="100%">
    <mat-card-title>
      Search Flight Chain
    </mat-card-title>
    <mat-card-content>
      <form novalidate>
        <mat-form-field fxFlex="50%" hintLabel="e.g. 2017-07-01LHRBA0222">
          <input matInput placeholder="Enter a Flight Key" [formControl]="flightKey">
          <mat-error *ngIf="flightKey.invalid">{{getInputErrorMessage()}}</mat-error>
        </mat-form-field>

        <button color="primary" mat-raised-button (click)="onClickSearch()">Search</button>
        <mat-spinner *ngIf="loadingFlight" [diameter]="30"></mat-spinner>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card fxFlex="100%" *ngIf="error" style="background: orangered">
    <mat-card-content>
      {{getErrorMessage()}}
    </mat-card-content>
  </mat-card>

  <div *ngIf="flightHistory" fxLayout="column">


    <mat-card fxFlex="100%" style="background: darkgrey">
      <mat-card-title>
        <h3>Live status</h3>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row">
          <div fxLayout="column">
            <p>Flight: <span
              *ngIf="flightLive.value.operatingAirline">{{flightLive.value.operatingAirline.name}} </span>{{flightLive.value.flightNumber.airlineCode}}
              {{flightLive.value.flightNumber.trackNumber}}</p>
            <div class="from_to">
              {{flightLive.value.departureAirport}} to {{flightLive.value.arrivalAirport}}
              (<span *ngIf="flightLive.value.flightStatus">{{flightLive.value.flightStatus}}</span><span
              *ngIf="!flightLive.value.flightStatus">Status unknown</span>)
            </div>
            <svg width="50" height="50" [identiconHash]="flightLive.value.updaterId">
              Fallback text for browsers not supporting inline svg
            </svg>
            <p>Last update from: {{flightLive.value.updaterId}}, {{ (flightLive.timestamp.low | amFromUnix) | amTimeAgo}}</p>
            <a routerLink="/transaction/{{flightLive.tx_id}}">
              TxId: {{flightLive.tx_id}}
            </a>
          </div>
          <p>
          <pre>
            {{flightLive.value | json}}
          </pre>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="100%">
      <mat-card-title>
        <h3>History</h3>
      </mat-card-title>
      <mat-card-content *ngFor="let flight of flightHistory | reverse">
        <div fxLayout="row">
          <div fxLayout="column">
            <p>
              <svg width="50" height="50" [identiconHash]="flight.updaterId">
                {{flight.updaterId}}
              </svg>
            </p>
            <p>Updater: {{flight.updaterId}},  {{ (flight.timestamp.low | amFromUnix) | amTimeAgo}}</p>
            <a routerLink="/transaction/{{flight.tx_id}}">
              TxId: {{flight.tx_id}}
            </a>
          </div>
          <p>
          <pre>
            {{flight.value | json}}
          </pre>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

